html,
body,
#root {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: radial-gradient(circle at 15% 15%, #ff9d00, #1a1a1a 70%);
  color: #fff;
}
